[submodule "themes/ink"]
	path = themes/ink
	url = https://github.com/knadh/hugo-ink.git
[submodule "public"]
	path = public
	url = https://github.com/mguarascio/mguarascio.github.io.git
	branch = main
